{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout - Payment{% endblock %}


{% block content %}
    
    
<!-- BEGIN #checkout-payment -->
<div class="section-container" id="checkout-payment">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN checkout -->
        <div class="checkout">
            <form action="{% url 'orders:checkout_payment' %}" method="POST" name="form_payment" class="form-horizontal">
                {% csrf_token %}
                <!-- BEGIN checkout-header -->
                <div class="checkout-header">
                    <!-- BEGIN row -->
                    <div class="row">
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'cart:detail' %}">
                                    <div class="number">1</div>
                                    <div class="info">
                                        <div class="title">Delivery Options</div>
                                        <div class="desc">Lorem ipsum dolor sit amet.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'orders:checkout_info' %}">
                                    <div class="number">2</div>
                                    <div class="info">
                                        <div class="title">Shipping Address</div>
                                        <div class="desc">Vivamus eleifend euismod.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step active">
                                <a href="#">
                                    <div class="number">3</div>
                                    <div class="info">
                                        <div class="title">Payment</div>
                                        <div class="desc">Aenean ut pretium ipsum. </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                        <!-- BEGIN col-3 -->
                        <div class="col-md-3 col-sm-3">
                            <div class="step">
                                <a href="{% url 'orders:checkout_complete' %}">
                                    <div class="number">4</div>
                                    <div class="info">
                                        <div class="title">Complete Payment</div>
                                        <div class="desc">Curabitur interdum libero.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END col-3 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END checkout-header -->
                <!-- BEGIN checkout-body -->
                <div class="checkout-body">
                    <h4 class="checkout-title">Shipping Information Summary</h4>
                    <div class="panel panel-default m-b-20">
                        <div class="panel-body">
                            <p><strong>Name:</strong> {{ shipping_info.first_name }} {{ shipping_info.last_name }}</p>
                            <p><strong>Address:</strong> {{ shipping_info.address_1 }} {% if shipping_info.address_2 %}, {{ shipping_info.address_2 }}{% endif %}</p>
                            <p><strong>City:</strong> {{ shipping_info.city }}</p>
                            <p><strong>State / Province:</strong> {{ shipping_info.state }}</p>
                            <p><strong>Country:</strong> {{ shipping_info.country }}</p>
                            <p><strong>ZIP Code:</strong> {{ shipping_info.zip_code }}</p>
                            <p><strong>Phone:</strong> ({{ shipping_info.area_code }}) {{ shipping_info.primary_phone }}</p>
                        </div>
                    </div>

                    <h4 class="checkout-title">Order Summary</h4>
                    <div class="table-responsive m-b-20">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th class="text-center">Qty</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td class="text-right">${{ item.get_subtotal }}</td>
                                </tr>
                                {% endfor %}
                                <tr class="info">
                                    <td colspan="2" class="text-right"><strong>Total:</strong></td>
                                    <td class="text-right"><strong>${{ cart.get_total_price }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4 class="checkout-title m-t-30">Choose a payment method</h4>
                    
                    <!-- Stripe Payment Section styled like the provided design -->
                    <div id="stripe-payment-section">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cardholder Name <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input type="text" id="cardholder-name" class="form-control required" name="cardholder" placeholder="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Card Number <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <div id="card-number-element" class="form-control" style="height:auto; padding: 8px 10px;"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Payment Types <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <ul class="list-inline payment-type">
                                    <li class="active"><a href="#" data-toggle="tooltip" data-title="Stripe" data-placement="top" data-trigger="hover"><i class="fa fa-cc-stripe"></i></a></li>
                                    <li class="disabled"><a href="#" data-toggle="tooltip" data-title="Visa (via Stripe)" data-placement="top" data-trigger="hover"><i class="fa fa-cc-visa"></i></a></li>
                                    <li class="disabled"><a href="#" data-toggle="tooltip" data-title="Master Card (via Stripe)" data-placement="top" data-trigger="hover"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li class="disabled"><a href="#" data-toggle="tooltip" data-title="Credit Card (via Stripe)" data-placement="top" data-trigger="hover"><i class="fa fa-cc-discover"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Expiration Date <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <div id="card-expiry-element" class="form-control" style="height:auto; padding: 8px 10px;"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">CSC <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <div class="width-100 pull-left m-r-10">
                                    <div id="card-cvc-element" class="form-control" style="width: 120px; height:auto; padding: 8px 10px;"></div>
                                </div>
                                <a href="#" class="text-muted f-s-12 pull-left m-t-5 p-t-2"><i class="fa fa-question-circle"></i> What's this?</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Email <span class="text-danger">*</span></label>
                            <div class="col-md-8">
                                <input type="email" id="email" name="email" class="form-control" placeholder="you@example.com" required>
                            </div>
                        </div>
                        <!-- Hidden input to be filled after successful payment confirmation -->
                        <input type="hidden" id="payment_intent_id" name="payment_intent_id" value="">
                        <div id="card-errors" role="alert" class="text-danger m-t-10"></div>
                    </div>
                </div>
                <!-- END checkout-body -->
                <!-- BEGIN checkout-footer -->
                <div class="checkout-footer">
                    <a href="{% url 'orders:checkout_info' %}" class="btn btn-white btn-lg pull-left">Back</a>
                    <button type="submit" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">Proceed</button>
                </div>
                <!-- END checkout-footer -->
            </form>
        </div>
        <!-- END checkout -->
        
        <h4 class="checkout-title m-t-30 m-b-15">Payment Frequently Asked Questions</h4>
        <!-- BEGIN checkout-question-list -->
        <div class="row checkout-question-list" id="checkout-faq">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
                <div class="clearfix">
                    <div class="question">
                        <a href="#checkout-faq-1" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                            <span class="dash">-</span> Is my Credit Card / Debit Card details protected?
                        </a>   
                    </div>
                    <div class="answer collapse in" id="checkout-faq-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                    </div> 
                </div>
                <div class="clearfix m-t-10">
                    <div class="question">
                        <a href="#checkout-faq-2" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                            <span class="dash">-</span> Can I use a Debit Card to make payment??
                        </a>   
                    </div>
                    <div class="answer collapse in" id="checkout-faq-2">
                        Curabitur vitae venenatis odio, eget molestie mauris. Nullam vitae turpis at mi consequat rutrum quis quis mi. Vestibulum imperdiet neque non libero condimentum, quis sodales magna molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                    </div> 
                </div>
                <div class="clearfix m-t-10">
                    <div class="question">
                        <a href="#checkout-faq-3" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                            <span class="dash">-</span> Credit Card/Debit Card transaction keep failing. Why?
                        </a>   
                    </div>
                    <div class="answer collapse in" id="checkout-faq-3">
                        Cras malesuada mi quis purus pharetra egestas. Curabitur auctor sapien est, eu porttitor velit ornare in. Fusce porta suscipit diam at placerat. Donec lobortis iaculis accumsan. Ut semper felis vel nisi aliquam facilisis.
                    </div> 
                </div>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
                <div class="clearfix">
                    <div class="question">
                        <a href="#checkout-faq-4" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                            <span class="dash">-</span> Did not receive the Pin Code on my mobile?
                        </a>   
                    </div>
                    <div class="answer collapse in" id="checkout-faq-4">
                        Duis gravida sem eu arcu efficitur, laoreet egestas nibh posuere. Pellentesque suscipit tincidunt porttitor. Aliquam vitae massa vel justo lobortis posuere. Nulla tempor enim at auctor dignissim. Aenean sit amet venenatis odio.
                    </div> 
                </div>
                <div class="clearfix m-t-10">
                    <div class="question">
                        <a href="#checkout-faq-5" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                            <span class="dash">-</span> My credit card has been charged, but my order shows failed?
                        </a>   
                    </div>
                    <div class="answer collapse in" id="checkout-faq-5">
                        Nunc consectetur tellus libero, at tempor dolor scelerisque id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat ligula vitae tincidunt sagittis. Etiam congue ligula purus, ut fringilla ante interdum eu.
                    </div> 
                </div>
            </div>
            <!-- END col-6 -->
        </div>
        <!-- END checkout-question-list -->
    </div>
    <!-- END container -->
</div>
<!-- END #checkout-payment -->
{% include 'policy.html' %}

<!-- Stripe Integration Script -->
<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe('{{ stripe_public_key }}');
    const elements = stripe.elements();

    // Create separate Elements to match the desired layout
    const cardNumber = elements.create('cardNumber');
    const cardExpiry = elements.create('cardExpiry');
    const cardCvc = elements.create('cardCvc');

    // Mount elements
    cardNumber.mount('#card-number-element');
    cardExpiry.mount('#card-expiry-element');
    cardCvc.mount('#card-cvc-element');

    // Handle real-time validation errors
    const errorDiv = document.getElementById('card-errors');
    [cardNumber, cardExpiry, cardCvc].forEach(function(el) {
        el.on('change', function(event) {
            if (event.error) {
                errorDiv.textContent = event.error.message;
            } else {
                errorDiv.textContent = '';
            }
        });
    });

    // Form submission - Stripe only
    document.querySelector('form[name="form_payment"]').addEventListener('submit', async function(e) {
        e.preventDefault();

        const email = document.getElementById('email').value;
        const name = document.getElementById('cardholder-name').value;
        if (!email || !name) {
            alert('Please enter your name and email');
            return;
        }

        const result = await stripe.confirmCardPayment('{{ client_secret }}', {
            payment_method: {
                card: cardNumber,
                billing_details: {
                    name: name,
                    email: email
                }
            }
        });

        if (result.error) {
            errorDiv.textContent = result.error.message;
        } else if (result.paymentIntent && result.paymentIntent.status === 'succeeded') {
            // Payment successful - submit form with payment intent ID
            const form = document.querySelector('form[name="form_payment"]');
            let intentInput = document.getElementById('payment_intent_id');
            if (!intentInput) {
                intentInput = document.createElement('input');
                intentInput.type = 'hidden';
                intentInput.name = 'payment_intent_id';
                intentInput.id = 'payment_intent_id';
                form.appendChild(intentInput);
            }
            intentInput.value = result.paymentIntent.id;
            form.submit();
        } else {
            errorDiv.textContent = 'Payment processing failed. Please try again.';
        }
    });
</script>
{% endblock content %}
    
