{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}
{% block content %}
<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <div class="container">
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="{% url 'products:home' %}">Home</a></li>
            {% if product.category %}
            <li><a href="{% url 'products:products_by_category' product.category.slug %}">{{ product.category.name }}</a></li>
            {% endif %}
            <li class="active">{{ product.name }}</li>
        </ul>

        <div class="product">
            <div class="product-detail">
                <div class="product-image">
                    <div class="product-thumbnail">
                        <ul class="product-thumbnail-list">
                            {% if product.main_image %}
                            <li class="active"><a href="#" data-click="show-main-image" data-url="{{ product.main_image.url }}"><img src="{{ product.main_image.url }}" alt="{{ product.name }}" /></a></li>
                            {% endif %}
                            {% for image in product.images.all %}
                            <li><a href="#" data-click="show-main-image" data-url="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="{{ image.alt_text|default:product.name }}" /></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="product-main-image" data-id="main-image">
                        {% if product.main_image %}
                        <img src="{{ product.main_image.url }}" alt="{{ product.name }}" />
                        {% endif %}
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-header">
                        <h1 class="product-title">
                            {% if product.get_discount_percentage > 0 %}
                            <span class="label label-success">{{ product.get_discount_percentage }}% OFF</span>
                            {% endif %}
                            {{ product.name }}{% if product.sku %} - #{{ product.sku }}{% endif %}
                        </h1>
                        {% if product.category or product.brand %}
                        <ul class="product-category">
                            {% if product.category %}
                            <li><a href="{% url 'products:products_by_category' product.category.slug %}">{{ product.category.name }}</a></li>
                            {% endif %}
                            {% if product.category and product.brand %}
                            <li>/</li>
                            {% endif %}
                            {% if product.brand %}
                            <li><a href="#">{{ product.brand.name }}</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="product-warranty">
                        <div class="pull-right">Availability: {% if product.is_available and product.stock > 0 %}In stock{% else %}Out of stock{% endif %}</div>
                        {% if product.warranty_years > 0 %}
                        <div><b>{{ product.warranty_years }} Year{{ product.warranty_years|pluralize }}</b> {{ product.warranty_info }}</div>
                        {% endif %}
                    </div>

                    {% if product.specifications.all %}
                    <ul class="product-info-list">
                        {% for spec in product.specifications.all %}
                        <li><i class="fa fa-circle"></i> {{ spec.specification }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div class="product-social">
                        <ul>
                            <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover" data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover" data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover" data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover" data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover" data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>

                    <div class="product-purchase-container">
                        {% if product.discount_price %}
                        <div class="product-discount">
                            <span class="discount">${{ product.price }}</span>
                        </div>
                        <div class="product-price">
                            <div class="price">${{ product.discount_price }}</div>
                        </div>
                        {% else %}
                        <div class="product-price">
                            <div class="price">${{ product.price }}</div>
                        </div>
                        {% endif %}
                        {% if product.is_available and product.stock > 0 %}
                        <form method="post" action="{% url 'cart:add' %}" class="m-t-10">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div class="input-group" style="max-width:220px;">
                                <input type="number" name="quantity" class="form-control" value="1" min="1" max="{{ product.stock }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                                </span>
                            </div>
                        </form>
                        {% else %}
                        <button class="btn btn-inverse btn-lg" type="button" disabled>OUT OF STOCK</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="product-tab">
                <ul id="product-tab" class="nav nav-tabs">
                    <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                    <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                    <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews ({{ product.reviews.count }})</a></li>
                </ul>

                <div id="product-tab-content" class="tab-content">
                    <div class="tab-pane fade active in" id="product-desc">
                        {% if product.descriptions.all %}
                        {% for description in product.descriptions.all %}
                        <div class="product-desc {% if forloop.counter|divisibleby:2 %}right{% endif %}">
                            {% if description.image %}
                            <div class="image">
                                <img src="{{ description.image.url }}" alt="" />
                            </div>
                            {% endif %}
                            <div class="desc">
                                <h4>{{ description.title }}</h4>
                                <p>{{ description.content }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No description available.</p>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="product-info">
                        {% if product.additional_info.all %}
                        <table class="table table-bordered">
                            <tbody>
                                {% for info in product.additional_info.all %}
                                <tr>
                                    <th style="width: 150px;">{{ info.attribute_name }}</th>
                                    <td>{{ info.attribute_value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No additional information available.</p>
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="product-reviews">
                        <div class="row">
                            <!-- BEGIN left column - reviews list -->
                            <div class="col-md-8">
                                <h4 class="m-b-20">Customer Reviews</h4>
                                {% if product.reviews.all %}
                                {% for review in product.reviews.all %}
                                <!-- BEGIN review -->
                                <div class="review">
                                    <div class="review-info">
                                        <div class="review-icon">
                                            {% if review.user.profile.avatar %}
                                            <img src="{{ review.user.profile.avatar.url }}" alt="{{ review.user.username }}" />
                                            {% else %}
                                            <img src="{% static 'img/user-default.jpg' %}" alt="{{ review.user.username }}" />
                                            {% endif %}
                                        </div>
                                        <div class="review-rate">
                                            <ul class="review-star">
                                                {% for i in "x"|rjust:"5" %}
                                                <li class="{% if forloop.counter <= review.rating %}active{% endif %}">
                                                    {% if forloop.counter <= review.rating %}
                                                    <i class="fa fa-star"></i>
                                                    {% else %}
                                                    <i class="fa fa-star-o"></i>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            ({{ review.rating }}/5)
                                        </div>
                                        <div class="review-name">{{ review.user.get_full_name|default:review.user.username }}</div>
                                        <div class="review-date">{{ review.created_at|date:"d/m/Y g:ia" }}</div>
                                    </div>
                                    <div class="review-title">
                                        {{ review.title }}
                                    </div>                        
                                    <div class="review-message">
                                        {{ review.comment }}
                                    </div>
                                </div>
                                <!-- END review -->
                                {% endfor %}
                                {% else %}
                                <p>No reviews yet. Be the first to review this product.</p>
                                {% endif %}
                            </div>
                            <!-- END left column -->
                            
                            <!-- BEGIN right column - write review form -->
                            <div class="col-md-4">
                                {% if user.is_authenticated %}
                                <div class="review-form">
                                    <h4 class="m-b-20">Write a Review</h4>
                                    <form method="POST" action="{% url 'products:product_detail' product.slug %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="rating">Rating <span class="text-danger">*</span> <span id="rating-display" class="text-muted">(5.0)</span></label>
                                            <div class="review-rate-visual m-b-10 f-s-24" id="rating-stars" style="color: #ffc107;">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <input type="range" class="form-control-range" id="rating-slider" name="rating" min="1.0" max="5.0" step="0.1" value="5.0" required style="width: 100%;">
                                            <div class="clearfix m-t-5">
                                                <span class="pull-left f-s-11 text-muted">1.0</span>
                                                <span class="pull-right f-s-11 text-muted">5.0</span>
                                            </div>
                                        </div>
                                        <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            var slider = document.getElementById('rating-slider');
                                            var display = document.getElementById('rating-display');
                                            var stars = document.getElementById('rating-stars');
                                            
                                            function updateStars(value) {
                                                var fullStars = Math.floor(value);
                                                var decimal = value - fullStars;
                                                var starsHTML = '';
                                                
                                                for (var i = 1; i <= 5; i++) {
                                                    if (i <= fullStars) {
                                                        starsHTML += '<i class="fa fa-star"></i>';
                                                    } else if (i === fullStars + 1 && decimal >= 0.25 && decimal < 0.75) {
                                                        starsHTML += '<i class="fa fa-star-half-o"></i>';
                                                    } else if (i === fullStars + 1 && decimal >= 0.75) {
                                                        starsHTML += '<i class="fa fa-star"></i>';
                                                    } else {
                                                        starsHTML += '<i class="fa fa-star-o"></i>';
                                                    }
                                                }
                                                stars.innerHTML = starsHTML;
                                                display.textContent = '(' + parseFloat(value).toFixed(1) + ')';
                                            }
                                            
                                            slider.addEventListener('input', function() {
                                                updateStars(parseFloat(this.value));
                                            });
                                        });
                                        </script>
                                        <div class="form-group">
                                            <label for="review-title">Review Title <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="review-title" name="title" placeholder="Give your review a title" maxlength="200" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="review-comment">Your Review <span class="text-danger">*</span></label>
                                            <textarea class="form-control" id="review-comment" name="comment" rows="5" placeholder="Write your review here..." required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Submit Review</button>
                                    </form>
                                </div>
                                {% else %}
                                <div class="alert alert-info">
                                    <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="alert-link">Please login</a> to write a review.
                                </div>
                                {% endif %}
                            </div>
                            <!-- END right column -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END #product -->
{% endblock content %}
