{% extends 'base.html' %}
{% load static %}
{% block title %}{% if category %}{{ category.name }} Products{% else %}Products{% endif %}{% endblock %}

{% block content %}
          
<!-- BEGIN #page-header -->
<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="{% static 'img/apple-cover.jpg' %}" alt="" />
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header">
            {% if category %}<b>{{ category.name }}</b> Products{% else %}<b>All</b> Products{% endif %}
        </h1>
    </div>
    <!-- END container -->
</div>
<!-- BEGIN #page-header -->

<!-- BEGIN search-results -->
<div id="search-results" class="section-container bg-silver">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN search-container -->
        <div class="search-container">
            <!-- BEGIN search-content -->
            <div class="search-content">
                <!-- BEGIN search-toolbar -->
                <div class="search-toolbar">
                    <!-- BEGIN row -->
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                {% if category %}
                                    We found {{ products.count }} Items for "{{ category.name }}"
                                {% else %}
                                    We found {{ products.count }} Items
                                {% endif %}
                            </h4>
                        </div>
                        <!-- END col-6 -->
                        <!-- BEGIN col-6 -->
                        <div class="col-md-6 text-right">
                            <ul class="sort-list">
                                <li class="text"><i class="fa fa-filter"></i> Sort by:</li>
                                <li class="active"><a href="#">Popular</a></li>
                                <li><a href="#">New Arrival</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Price</a></li>
                            </ul>
                        </div>
                        <!-- END col-6 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END search-toolbar -->
                <!-- BEGIN search-item-container -->
                <div class="search-item-container">
                    <!-- BEGIN item-row -->
                    <div class="item-row">
                        {% for product in products %}
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="{% url 'product:product_detail' product.slug %}" class="item-image">
                                <img src="{{ product.main_image.url }}" alt="{{ product.name }}" />
                                {% if product.get_discount_percentage > 0 %}
                                <div class="discount">{{ product.get_discount_percentage }}% OFF</div>
                                {% endif %}
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product:product_detail' product.slug %}">{{ product.name }}<br />{{ product.short_description }}</a>
                                </h4>
                                <p class="item-desc">{{ product.short_description }}</p>
                                {% if product.discount_price %}
                                <div class="item-price">${{ product.discount_price }}</div>
                                <div class="item-discount-price">${{ product.price }}</div>
                                {% else %}
                                <div class="item-price">${{ product.price }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END item -->
                        {% empty %}
                        <p class="text-center">No products found in this category.</p>
                        {% endfor %}
                    </div>
                    <!-- END item-row -->
                </div>
                <!-- END search-item-container -->
            </div>
            <!-- END search-content -->
        </div>
        <!-- END search-container -->
    </div>
    <!-- END container -->
</div>
<!-- END search-results -->
{% endblock content %}

    
      